:root {
  --color-primary-accent: #b45309;
  --color-secondary-accent: #2563eb;
  --color-background: #fdfbf8;
  --color-text: #1f2937;
  --color-text-muted: #6b7280;
  --color-border: #e5e7eb;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 48px;
  line-height: 120%;
}

h2 {
  font-size: 32px;
  line-height: 130%;
}

h3 {
  font-size: 20px;
  line-height: 130%;
}

.p1-r {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.p2-r {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
}

.p2-b {
  font-size: 14px;
  line-height: 140%;
  font-weight: 600;
}

.p-small {
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
}

.p-big {
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
